<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ZeroKitePrj">

    <test name="Kite login">
    	<parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.Zerokite.TestCase.TC_LoginZeroKite_01.java" />
        </classes>
    </test>
</suite> 